import { Button, Container, Stack, Typography } from '@mui/material';
import React from 'react';
import { Link as RouterLink } from 'react-router-dom';
import { Icon } from '@iconify/react';
import plusFill from '@iconify/icons-eva/plus-fill';

import { Page } from '../../../components';
import { {{pascalCase name}}List } from '../../../components/lists/{{lowerCase name}}-list';

interface Props {}

export const {{pascalCase name}}ListScreen: React.FC<Props> = () => {
    return (
        <Page title="{{pascalCase name}} list">
            <Container>
                <Stack direction="row" alignItems="center" justifyContent="space-between" mb={5}>
                    <Typography variant="h4" gutterBottom>
                        {{pascalCase name}}s list
                    </Typography>
                    <Button
                        variant="contained"
                        component={RouterLink}
                        to="/app/{{lowerCase name}}/new"
                        startIcon={<Icon icon={plusFill} />}
                    >
                        new {{lowerCase name}}
                    </Button>
                </Stack>

                <{{pascalCase name}}List />
            </Container>
        </Page>
    )
}